<section id="conference" class="conference section">
  <div class="container">
    <h1 class="conference-title">
      <img src="{{ '/img/conference/antwerp_banner.svg' | relative_url }}" alt="Antwerp 24-25 September 2026" />
    </h1>
  </div>
  <div class="container">

    <h2>
      2026 OSP COMMUNITY CONFERENCE IN Antwerp, Belgium
    </h2>


    <div class="conference-description">
      <p>
        The third OSP Community Conference will take place in Antwerp! On 24-25th September 2026, location to be announced.​
      </p>
      <p>
        Antwerp is a vibrant port city in northern Belgium where medieval charm meets contemporary culture, making it a compelling destination for visitors. 
        Known as the world’s diamond capital, it boasts a rich trading history reflected in its grand architecture, from the Gothic Cathedral of Our Lady to the ornate Guild Houses lining the Grote Markt. 
        The city is also a global fashion hub, home to cutting-edge designers and stylish boutiques, while its museums celebrate masters like Rubens alongside modern art. 
        Lively cafés, excellent Flemish cuisine, and a scenic riverfront along the Scheldt round out Antwerp’s appeal as a city that feels both historic and forward-looking.
      </p>
    </div>

    
    <div class="conference-section">
      <div class="container">
        <h2>PAST CONFERENCES</h2>
        <div class="row">
          <div class="conference-section col-lg-12 col-md-12">
            <p>
              Conference 2024 <a href="{{ '/conference_2024.html' | relative_url }}">Click here</a>
            </p>
            <p>
              Conference 2025 <a href="{{ '/conference_2025.html' | relative_url }}">Click here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="conference-section">
      <h2>CONTACT</h2>
      <div>
        <p>
          The OSP CC is co-organized by the <a href="http://clsfoundation.org">Computational Life Sciences
            Foundation</a>
          and the <a href="http://AGAH.eu">AGAH</a>
        </p>
      </div>
    </div>
  </div>
</section>