<section id="conference" class="conference section">
  <div class="container">
    <h1 class="conference-title">
      <img src="{{ '/img/conference/paris_banner.webp' | relative_url }}" alt="Community Conference" />
    </h1>
  </div>
  <div class="container">

    <h2>
      2025 OSP COMMUNITY CONFERENCE IN PARIS, FRANCE
    </h2>

    <div class="conference-section">
      <img src="{{ '/img/conference/paris_3.webp' | relative_url }}" alt="Paris" />
    </div>
    <div class="conference-description">
      <p>
        The second OSP Community Conference will take place in Paris! On 29-30th September 2025, at Sanofi: 13 Quai
        Jules Guesde, 94400 Vitry-sur-Seine.​
      </p>
      <p>
        Vitry-sur-Seine, located just outside the heart of Paris, is a vibrant area known for its contemporary art scene
        and industrial heritage. With easy access to the city center, excellent public transportation, and Paris's
        renowned culture, cuisine, and history, this location offers the perfect blend of convenience and inspiration.​
      </p>
      <p>
        The conference venue is a modern and versatile space designed to foster collaboration and innovation, setting
        the stage for an engaging and impactful event. We will soon announce the exciting venue for the social evening!
      </p>
    </div>
    <div class="conference-section">
      <div>
        <img src="{{ '/img/conference/collage_paris.webp' | relative_url }}" alt="Paris" />
      </div>
    </div>
    <div class="conference-section">
      <div class="container">
        <h2>EVENT PROGRAM</h2>
        <div class="row">
          <div class="conference-section">
            <p>
              Check the event Schedule
            </p>
          </div>
        </div>
        <div class="row">
          <div class="conference-section col-lg-12 col-md-12">
            <p>
              <a class="btn btn-info" target="_blank"
                href="https://www.eventleaf.com/Attendee/Attendee/EventPage?eId=Hyjaqcf8I0tAxrNc5OzVxA%3D%3D#ss">
                Schedule</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="conference-section">
      <div class="container">
        <h2>REGISTRATION</h2>
        <div class="row">
          <div class="conference-section">
            <p>
              Secure your place at the 2nd OSP Community Conference!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="conference-section col-lg-12 col-md-12">
            <p>
              <a class="btn btn-info" target="_blank"
                href="https://www.eventleaf.com/Attendee/Attendee/EventPage?eId=Hyjaqcf8I0tAxrNc5OzVxA%3D%3D">
                Register here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="conference-section">
      <div class="container">
        <h2>SUBMIT AN ABSTRACT</h2>
        <div class="row">
          <div class="conference-section col-lg-12 col-md-12">
            <p>
              <a class="btn btn-info" target="_blank"
                href="https://www.eventleaf.com/Attendee/Attendee/EventPage?eId=Hyjaqcf8I0tAxrNc5OzVxA%3D%3D#moreInfo">
                Submit</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="conference-section">
      <div class="container">
        <h2>SPONSORS</h2>
        <div class="row">
          <div class="conference-section col-lg-12 col-md-12">
            <p>
              <a class="btn btn-info" target="_blank" href="https://www.paypal.com/ncp/payment/C9FGDLJBBB8X4">
                Become a sponsor</a>
            </p>
          </div>
        </div>
        <div class="row">
          <h3>Gold</h3>
        </div>

        <div class="row">
          <a href="https://www.esqlabs.com/" target="_blank">
            <img class="sponsor gold" src="{{ '/img/conference/logo7.png' | relative_url }}" alt="esqLABS" />
          </a>
        </div>
        <div class="row">
          <a href="https://sanofi.com/" target="_blank">
            <img class="sponsor gold" src="{{ '/img/conference/logo8.png' | relative_url }}" alt="Sanofi" />
          </a>
        </div>

        <div class="row">
          <h3>Silver</h3>
        </div>
        <div class="row">
          <a href="https://www.pharmetheus.com/" target="_blank">
            <img class="sponsor silver no-pad" src="{{ '/img/conference/logo3.svg' | relative_url }}" alt="Pharmetheus" />
          </a>
        </div>

        <div class="row">
          <a href="https://www.boehringer-ingelheim.com/" target="_blank">
            <img class="sponsor silver no-pad" src="img/conference/logo2.svg" alt="Boehringer Ingelheim" />
          </a>
        </div>

        <div class="row">
          <a href="https://www.Hovione.com/" target="_blank">
            <img class="sponsor silver" src="{{ '/img/conference/Hovione_Logo_Red_RGB.svg' | relative_url }}" alt="Hovione" />
          </a>
        </div>
      </div>
      <h3>Bronze</h3>
      <div class="container">
        <div class="row">
          <div class="conference-section col-lg-12 col-md-12">
            <a href="https://www.metrumrg.com/" target="_blank">
              <img class="sponsor bronze" src="img/conference/metrymrg-logo.png" alt="Metrum" />
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="conference-section">
      <div class="container">
        <h2>LOCATION</h2>
        <div class="row">
          <div class="conference-section">
            <p>
              PHYSICAL ADDRESS
            </p>
            <p>
              13 Quai Jules Guesde, 94400 Vitry-sur-Seine.​
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div style="max-width:100%;overflow:hidden;color:red;height:500px;">
              <div id="display-google-map" style="height:100%; width:100%;max-width:100%;">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47205.7113071541!2d2.3423550017369856!3d48.79201694116119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6737ad44061e5%3A0xcfb09d407aea2891!2s13%20Quai%20Jules%20Guesde%2C%2094400%20Vitry-sur-Seine%2C%20France!5e0!3m2!1sen!2sca!4v1737756041476!5m2!1sen!2sca"
                  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
              <style>
                #display-google-map img {
                  max-width: none !important;
                  background: none !important;
                  font-size: inherit;
                  font-weight: inherit;
                }
              </style>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="conference-section">
      <div class="container">
        <h2>PAST CONFERENCES</h2>
        <div class="row">
          <div class="conference-section col-lg-12 col-md-12">
            <p>
              Conference 2024 <a href="{{ '/conference_2024.html' | relative_url }}">Click here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="conference-section">
      <h2>CONTACT</h2>
      <div>
        <p>
          The OSP CC is co-organized by the <a href="http://clsfoundation.org">Computational Life Sciences
            Foundation</a>
          and the <a href="http://AGAH.eu">AGAH</a>
        </p>
      </div>
    </div>
  </div>
</section>