<section id="essentials" class="essentials section">
  <div class="container">
    <h2>Essentials</h2>
    <div class="section_area">
      <div class="row">

        <div class="col-lg-4 col-md-4">
          <div class="essential_block">
            <div class="essential_icon icon1 delay-03s animated zoomIn">
              <span>
                <a href="http://setup.{{site.base}}/" target="_blank"><i class="fa fa-arrow-down"></i></a>
              </span>
            </div>
            <h2 class="animated fadeInUp">Download OSP Suite</h2>
            <p class="animated fadeInDown">Explore the full functionality of the OSP suite. PBPK, PBPK/PD, QSP – the OSP
              Suite gives you the flexibility to build it all without having to start from scratch.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="essential_block">
            <div class="essential_icon icon2 delay-03s animated zoomIn">
              <span>
                <a href="http://forum.{{site.base}}/" target="_blank"><i class="fa fa-comments"></i></a>
              </span>
            </div>
            <h2 class="animated fadeInUp">Forum</h2>
            <p class="animated fadeInDown">Have your questions answered or provide answers to others. The Forum is a
              great way to stay up-to-date on the community buzz around OSP.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4">
          <div class="essential_block">
            <div class="essential_icon icon3 delay-03s animated zoomIn">
              <span>
                <a href="http://docs.{{site.base}}/" target="_blank"><i class="fa fa-book"></i></a>
              </span>
            </div>
            <h2 class="animated fadeInUp">Documentation</h2>
            <p class="animated fadeInDown">Need to find out how to use a feature? Looking to understand the inner
              workings of the model? Here you’ll find the extensive OSP manual and qualification documents.</p>
          </div>
        </div>
      </div>
    </div>
</section>