<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <title>
    {% if page.title %}
    {{ page.title }}
    {% if page.section %} - {{ page.section }}{% endif %}
    - 
    {% endif %}
    {{ site.title }}
  </title>
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="pbpk,model,pbpk models,pk-sim,mobi,ospsuite,pbpk modeling,pediatricsm,ddi,drug-drug interaction,pharmacology">
  <meta name="author" content="Open Systems Pharmacology Community">

  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
  
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon@2x.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-ipad@2x.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon@3x.png">
  
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" /> 
  <meta property="og:image" content="/img/og-image.jpg" />
  <meta property="og:description" content="{{ site.description }}" /> 
  <meta property="og:url" content="{% if page.url %}{{ page.url }}{% else %}{{ site.url }}{% endif %}">
  
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:image" content="/img/twitter-card-image.jpg" />
  
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,700italic,400italic,300italic,300,100italic,100,900italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,500,700,800,600,300,200' rel='stylesheet' type='text/css'>
</head>
  