<section id="intro" class="intro section">
  <div class="intro_container_outer">
    <div class="container">
      <div class="section_area">
        <div class="row">
          <div class="col-lg-7  col-sm-12">
            <div class="wow animated">
              <h3>Open Systems Pharmacology</h3>
              <h1>PK-Sim® and MoBi® for PBPK and Quantitative Systems Pharmacology</h1>
              <p>Reliable, powerful and easy-to-use modeling &amp; simulation tools for pharmaceutical and other life-sciences applications. Qualified and accepted by the scientific community including academia, regulatory agencies and industry. Available free to everyone.</p>
              <div class="learn_more"><a class="page-scroll" href="#essentials">Learn more</a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>