<section id="conference">
  <div class="container">
    <h1 class="conference-title">
      <img src="img/conference/conference-header.png" alt="Community Conference" />
    </h1>

    {% for session in site.data.presentations.conference_2026.sessions %}
    <div class="conference-section">
      <div class="container">
        
        <div class="row">
          <h3>
            {{session.session-name}}
          </h3>
        </div>
      </div>

      <div class="container">
        <div class="row">
          {% for presentation in session.presentations %}
          <div class="item-list single-line">
            <div class="item-col1"><span><i class="fa fa-{{presentation.icon}}"></i></span></div>
            <div class="item-col2">
              <a href="{{presentation.url}}" target="_blank">{{presentation.name}}</a>
            </div>
          </div>
          {% endfor %}
        </div>
        
      </div>
    </div>
    {% endfor %}
  </div>
</section>